body {
  font-family: "Microsoft Yahei",Helvetica,"SimHei",Arial,Tahoma;
  line-height: 1.6;
  background-color: #fff;
  color: #333; }

/*clear float*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

img {
  max-width: 100%;
  height: auto; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

a {
  color: #333; }

a:hover {
  text-decoration: none; }

.blue {
  color: #0068b7; }

.margint {
  margin-top: 60px; }

.header {
  background-color: #ed3221;
  height: 60px;
  color: #fff;
  line-height: 60px;
  min-width: 1170px; }
  .header .comp-name {
    float: left;
    width: 100px;
    text-align: center;
    font-size: 18px;
    margin-right: 15px; }
  .header .logo {
    float: left;
    position: relative; }
  .header .navbox {
    float: left;
    padding-top: 15px;
    font-size: 16px;
    width: 625px; }
    .header .navbox a {
      color: #fff; }
    .header .navbox .nav {
      float: right; }
    .header .navbox .nav > li {
      float: left; }
    .header .navbox .navbar-nav {
      margin: 0; }
    .header .navbox .nav > li > a:hover, .header .navbox .navbar-nav > .active > a {
      background-color: #fff;
      color: #ed3221;
      border-radius: 4px; }
    .header .navbox .nav > li > a {
      margin: 0 8px; }
    .header .navbox .nav > li > a {
      padding: 5px 10px; }
  .header .userbox {
    float: right;
    background-color: #fd7c70;
    padding: 0 15px;
    width: 200px; }
    .header .userbox i {
      margin-right: 5px;
      font-size: 18px; }
    .header .userbox a {
      color: #b80f00; }
    .header .userbox a:hover {
      color: #e02d1c;
      text-decoration: underline; }

.container {
  width: 1170px; }

.box {
  margin-top: 50px;
  border-top: 1px solid #ddd; }
  .box .cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .box .contf {
    background-color: #fff;
    min-height: 600px; }
  .box .left-menu {
    float: left;
    width: 15%; }
    .box .left-menu li > a {
      display: block;
      padding: 15px 0;
      text-align: center;
      color: #666;
      border-bottom: 1px solid #ddd; }
    .box .left-menu li > a:hover {
      background-color: #fff; }
    .box .left-menu .active > a {
      position: relative;
      left: 1px;
      background-color: #fff; }
  .box .right-con {
    float: right;
    width: 85%;
    background-color: #fff;
    border-left: 1px solid #ddd;
    min-height: 700px; }
    .box .right-con .block {
      color: #777;
      width: 700px;
      margin: 0 auto;
      padding: 60px 0; }
      .box .right-con .block .control-label {
        padding-top: 5px; }
      .box .right-con .block .checkbox-inline {
        margin-left: 0;
        margin-right: 10px; }
      .box .right-con .block .col-sm-8, .box .right-con .block .col-sm-4, .box .right-con .block .col-sm-2, .box .right-con .block .col-sm-3 {
        padding-right: 0; }
      .box .right-con .block .fz .col-sm-4 {
        width: 27%; }
      .box .right-con .block .fz .col-sm-2 {
        text-align: left;
        width: 13%; }
      .box .right-con .block .lh {
        line-height: 30px; }
      .box .right-con .block .form-group {
        margin-bottom: 25px; }
      .box .right-con .block .nav {
        margin-bottom: 20px; }
        .box .right-con .block .nav li {
          float: left; }
          .box .right-con .block .nav li a {
            background-color: #eee;
            border-radius: 4px;
            margin-right: 20px;
            padding: 5px 15px; }
            .box .right-con .block .nav li a:hover {
              background-color: #fb8c90;
              color: #fff; }
          .box .right-con .block .nav li.active > a {
            background-color: #fb8c90;
            color: #fff; }
      .box .right-con .block .check-box {
        padding-top: 15px; }
      .box .right-con .block .messbox {
        background-color: #f2f2f2;
        width: 94%;
        margin: 20px auto;
        padding: 20px; }
        .box .right-con .block .messbox h3 {
          font-size: 14px;
          margin-top: 0;
          margin-bottom: 15px;
          color: #666; }
          .box .right-con .block .messbox h3 a {
            color: #0068b7;
            text-decoration: underline; }
    .box .right-con .dr-info {
      color: #b41102;
      background-color: #fdeae8;
      padding: 15px 25px; }
      .box .right-con .dr-info .fa {
        margin-right: 10px; }
      .box .right-con .dr-info a {
        color: #0068b7;
        text-decoration: underline;
        font-size: 16px; }
    .box .right-con .block-yg {
      width: 900px;
      padding-top: 30px; }
      .box .right-con .block-yg .table th {
        background-color: #f2f2f2;
        color: #000; }
      .box .right-con .block-yg .table td {
        font-size: 12px; }
      .box .right-con .block-yg .excel-cont {
        height: 600px;
        overflow-x: hidden; }
  .box .loginbox {
    width: 550px;
    padding-top: 100px;
    margin: 0 auto; }

.footer {
  text-align: center;
  padding: 40px 0 10px;
  font-size: 12px;
  color: #666; }
  .footer a {
    margin: 0 10px;
    color: #666; }
  .footer a:hover {
    color: #b80f00; }
